.MainHead{
    height: 70px;
    background-color: #0B486B;
    width:100%;
    margin-bottom: 15px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

h1 {
    font-family: 'Crete Round', serif;
    text-align: center;
    font-size: 50px;
    margin-top: auto;
    margin-bottom: auto;
    color:white;
}

h2 {
    font-family: 'Crete Round', serif;
    text-align: center;
    font-size: 25px;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
}

h3 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
    font-size: 40px;
    margin-top: auto;
    margin-bottom: auto;
    color: #0B486B;
}

label {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 15px;
    margin-top: auto;
    margin-bottom: auto;
    color: #0B486B;
}

input {
    padding: 12px 5px;
    margin-bottom: 8px;
    border: 1px solid #95a5a6;;
    border-radius: 12px;
    box-sizing: border-box;
    height:10px;
    width: 130px;
  }

  select {
    width: 130px;
    height:26px;
    padding: 12px 20px;
    margin-top: 0px;
    margin-bottom: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 12px;
}

.OwnerPet{
    width: 420px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
}

.PetOwner{
    display: inline-block;
    background-color: #95a5a6;
    height:35px;
    width: 200px;
    margin-left:5px;
    margin-right: 3px;
    border: .1px solid #afafaf;
    border-radius: 20px;
    box-shadow: 0 2.5px 2px 0 rgba(0, 0, 0, 0.2);
}

.PetOwner:hover {
    background-color: #a1c0c6;
    box-shadow: none;
}

.forms {
    align-items: center;
    margin-top:25px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    width: 130px;
}

.mainButton {
    margin-top:10px;
    margin-bottom: 50px;
    height: 30px;
    width: 130px;
    color: #ffffff;
    background-color: #0B486B;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    border: 0px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 15px;
    box-shadow: 0 2.5px 2px 0 rgba(0, 0, 0, 0.2);
}

.mainButton:hover {
    background-color: #a1c0c6;
    box-shadow: none;
  }